{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 38, "knowledge_revision": 173, "git_revision": "", "hash": "3f9285eb3eb3ddb4f47c78b59a4ff29c", "format-version": 4, "code-base-name": "default", "filename": "flutter_mobile_app_workspace/flutter_mobile_app/ios/Runner/Info.plist", "revision_history": [{"173": ""}]}