{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 53, "knowledge_revision": 180, "git_revision": "", "hash": "8f4fde151ca4a419fd8bab6791934618", "format-version": 4, "code-base-name": "default", "filename": "flutter_mobile_app_workspace/flutter_mobile_app/windows/runner/Runner.rc", "revision_history": [{"180": ""}]}